html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: rgb(15, 15, 15);

    /* min-width: 1280px; */
}

/* Типографика */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,200&family=Roboto:wght@100;300;400&display=swap');

.wrapper-body {
    /* display: flex; */
    max-width: 1130px;
    min-height: 1600px;
    margin: 0 auto;
    border: 3px solid #C6A63C;
    box-shadow: 0px 0px 15px 3px #978b80;
    border-radius: 20px;
    background-color: blanchedalmond;
}

.wrapper_header {
    display: flex;
    max-width: 1124px;
    height: 365px;
    margin: 0 auto;

    border-radius: 16px 16px 0 0;
    background-color: #E1B83A;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 450px;
    height: 365px;

    /* background-color: coral; */
}

.photo-size {
    width: 300px;
    height: 317px;
}

.name-special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 365px;

    /* background-color: chocolate; */
}

.wrapper-special {
    display: block;
    margin-top: 25px;
    max-width: 500px;
    height: 200px;
}

.name {
    display: inline-block;
    margin-bottom: 45px;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #2D323E;
    transform: scale(1, 1.3);

    /* background-color: antiquewhite; */

}

.special {
    display: inline-block;
    color: #2D323E;
    padding: 15px 15px 15px 15px;
    letter-spacing: 0.1em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #2D323E;
    background-color: #FED863;
}

.wrapper_exp {
    display: flex;
    /* margin-left: 5px; */
    max-width: 1124px;
    height: 1236px;

    border-radius: 0 0 20px 20px;
    background-color: aquamarine;
}

.wrapper_profile {
    display: block;

    max-width: 447px;
    height: 1236px;

    border-radius: 0 0 0 17px;
    background-color: #232323;
}


.wrapper_experience {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    max-width: 677px;
    height: 1236px;

    border-radius: 0 0 20px 0;
    background-color: #F8F8F8;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: space-around; */

    max-width: 677px;
    height: 165px;

    /* background-color: cornflowerblue; */
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    cursor: pointer;
}

:link:link {
    color: #131313;
}

:link:active {
    color: #131313;
}

.link:visited {
    color: #131313;
}

i {
    font-size: 22px;
}
.maps {
    color: #34A853;
}
.telegram {
    color: #249CD7;
}
.discord {
    color: #5662F6;
}
.gmail {
    color: #EE5013;
}
.youtube {
    color: #FC0000;
}
.github {
    color: #390173;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 338px;
    height: 82px;

    /* background-color: chartreuse; */
}

.padding {
    padding-left: 15px;
}

.padding2 {
    padding-left: 50px;
}
h2 {
    color: #2D2F3C;
    font-family: "Arial", sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 25px;
    line-height: 300%;
    letter-spacing: 0.08em;
    transform: scale(1, 0.9);
}
.about-me {

}
